{% extends "djangoapp/base.html" %}

{% block content %}
<div class="container-fluid">
    <a href="/cargar_curso_plantilla" class="btn">Cargar plantilla de curso</a>
    <a href="/cargar_participante_plantilla" class="btn">Cargar plantilla de participantes</a>
    <a href="/cargar_curso_manual" class="btn">Cargar manualmente curso</a>
    <a href="/cargar_participante_manual" class="btn">Cargar manualmente participante</a>
    <a href="/view_cursos" class="btn">Ver registro de cursos</a>
    <a href="/view_participantes" class="btn">Ver registro de participantes</a>
</div>
{% endblock %}