{% extends "djangoapp/base.html" %}

{% block content %}
<div class="container-section">
    <img id="img_principal"
        src="https://www.diariopanorama.com/fotos/notas/2021/12/16/entrega-uniformes-401188-214015.jpg">
</div>
<div class="container-section" id="About">
    <h2>Quienes Somos</h2>
    <p>
        En <span style="font-size: 1.5em;">Progecap S.A.</span>, nos dedicamos con pasión a brindar formación permanente
        que facilita el crecimiento individual y fortalece organizaciones. Trabajamos con un equipo altamente competente
        comprometido con la <span style="font-size: 1.5em;">excelencia y la mejora continua</span>. Nos comprometemos a cumplir y superar los requisitos
        legales, guiados por la integridad. Descubre cómo transformamos el aprendizaje en una experiencia duradera.
    </p>

</div>
<div class="container-section" id="Mision">
    <h2>Nuestra Misión</h2>
    <p>
        <span style="font-size: 1.5em;">Liderar la transformación educativa</span>, ofreciendo servicios de capacitación diseñados para potenciar el
        crecimiento personal y profesional. Nos comprometemos a proporcionar soluciones innovadoras y de alta calidad,
        superando las expectativas de nuestros clientes. Trabajamos incansablemente con un equipo altamente competente,
        impulsados por la mejora continua de nuestro sistema de gestión de calidad y el cumplimiento riguroso de las
        normativas legales y reglamentarias. Nuestro propósito es ser el catalizador que impulsa el <span style="font-size: 1.5em;">desarrollo
            sostenible de individuos y organizaciones</span>, convirtiéndonos en el socio preferido en el viaje hacia el éxito y la
        excelencia.
    </p>
</div>

<div class="container-section" id="Contact">
    <h2>Contáctanos</h2>
    <form>
        
    </form>
</div>
<button id="btnVolverArriba">Volver Arriba</button>
{% include "djangoapp/script.html" %}
{% endblock %}