{% load static %}
<nav class="navbar">
    <div class="navbar-brand">
        <a href="{% url 'inicio' %}">
            <img id="img_logo" src="https://i.ibb.co/y40NZty/logo.png" alt="Logo">
        </a>
    </div>
    <div class="navbar-links">
        <ul class="nav">
            <li class="nav-item">
                <a href="/" class="nav-link">Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Contacto</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">Capacitaciones</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Revisa nuestras capacitaciones</a></li>
                    <li><a href="#" class="dropdown-item">Testimonios</a></li>
                    <li><a href="#" class="dropdown-item">Requisitos</a></li>
                    <li><a href="#" class="dropdown-item">SENCE</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">Administracion</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'ver_cursos' %}" class="dropdown-item">Ver registro de cursos</a></li>
                    <!-- Otros elementos del menú de administración -->
                </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">Sign in</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'login' %}" class="dropdown-item">Login</a></li>
                    <li><a href="{% url 'register' %}" class="dropdown-item">Crear cuenta</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>