<script>
    // Código JavaScript para desplazarse suavemente al hacer clic en el enlace
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
    var btnVolverArriba = document.getElementById('btnVolverArriba');

    // Muestra u oculta el botón de volver arriba según la posición de desplazamiento
    window.onscroll = function() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnVolverArriba.style.display = "block";
        } else {
            btnVolverArriba.style.display = "none";
        }
    };

    // Agrega el evento de clic para volver arriba
    btnVolverArriba.addEventListener('click', function() {
        document.body.scrollTop = 0; // Para navegadores que no sean Safari
        document.documentElement.scrollTop = 0; // Para Safari
    });
});
</script>